# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore uploads folder
uploads/

# Ignore sample data folder
sample_data/

# Ignore all audio files anywhere
*.wav
*.mp3
*.flac
*.m4a
*.ogg

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
.sample_data/
.et --hard HEAD@{1}
.venv310/
venv/
env/